f-strings

In [2]:
a = "chintan"
b = 10
print(f"my name is {a} and my favourite number is {b}")

my name is chintan and my favourite number is 10

Formatting Output using String Modulo Operator(%)

In [3]:
x = 123.1234
y = 45
print(x,y)
print("this is %d and %f" % (x,y))
print("this is %f and %d" % (x,y))
print("this is %20f and %10d" % (x,y))
print("this is %10.5f and %20.5d " % (x,y))
print("this is %.2f anf %0.1d" % (x,y))

123.1234 45
this is 123 and 45.000000
this is 123.123400 and 45
this is           123.123400 and         45
this is  123.12340 and                00045
this is 123.12 anf 45

In [9]:
print("float %f" % x)
print("modefied float %0.3f" % x)
print("string %s" % x)
print("integer %d" % x)
print("scientific %e" % x)
print("scientific %E" % x)
print("hexadecimal %x" % y)
print("octal %o" % y)

float 123.123400
modefied float 123.123
string 123.1234
integer 123
scientific 1.231234e+02
scientific 1.231234E+02
hexadecimal 2d
octal 55

sep and end parameter

In [10]:
print("one",end="-")
print("two",end=".\n")
print("one","two","three",sep="-")

one-two.
one-two-three

In [2]:
x = ["chintan" , "sindhav" , "python" , "proggrammer"]
y = ".".join(x)
print(y)

chintan.sindhav.python.proggrammer

### list comprehension
### [expression for item in iterable if condition]
##### expression: The transformation or value to be included in the new list.
##### item: The current element taken from the iterable.
##### iterable: A sequence or collection (e.g., list, tuple, set).
##### if condition (optional): A filtering condition that decides whether the current item should be included.

In [5]:
x = [1,2,3,4,5,6,7,8,9,10]
y = [it*2 for it in x if it%2==0]
print(y)
n = [i for i in range(1,10,2)]
print(n)

[4, 8, 12, 16, 20]
[1, 3, 5, 7, 9]

In [7]:
cor = [(x,y,z) for x in range(1,2) for y in range(10,12) for z in range(20,22)]
print(cor)

[(1, 10, 20), (1, 10, 21), (1, 11, 20), (1, 11, 21)]

In [9]:
x = [it for it in input().split()]
print(x)

['1', '2', '3', '4', '5', '6', '7']