#### input() function in python

In [4]:
x = input()
y = input("enter you name - ")
n = int(input())
f = float(input())
a,b,c = input("enter 3 number - ").split()
print(x,y,n,f,a,b,c)

5 chintan sindhav 5 56.56 3 4 5

#### Type Casting in Python (Implicit and Explicit)

In [5]:
a = 5
b = 4.5
c = a*b
print(f"this si implicite typecastin (no need for user involvment) - {c} so it is {type(c)}")

this si implicite typecastin (no need for user involvment) - 22.5 so it is <class 'float'>

In [6]:
print("Explicit typecasting ")
a = 5.9
print(a,type(a))
a = int(a)
print(a,type(a))
a = str(a)
print(a,type(a))

Explicit typecasting
5.9 <class 'float'>
5 <class 'int'>
5 <class 'str'>

In [11]:
l = list(input().split())
print(l,type(l))
ll = input().split()
print(ll,type(ll))
x = "chintan sindhav"
xl = list(x.split())
print(xl,type(xl))
xl = list(x)
print(xl,type(xl))

['chintan', 'sindhav'] <class 'list'>
['chintan', 'sindhav'] <class 'list'>
['chintan', 'sindhav'] <class 'list'>
['c', 'h', 'i', 'n', 't', 'a', 'n', ' ', 's', 'i', 'n', 'd', 'h', 'a', 'v'] <class 'list'>

split(sepretor, maxsplit) usage

In [2]:
s = "my,name,is,chintan"
s1 = s.split(",")
print(s1)
s2 = s.split(",",1)
print(s2)
s3 = s.split(",",2)
print(s3)
s4 = s.split(",",3)
print(s4)
s5 = s.split(",",4)
print(s5)

['my', 'name', 'is', 'chintan']
['my', 'name,is,chintan']
['my', 'name', 'is,chintan']
['my', 'name', 'is', 'chintan']
['my', 'name', 'is', 'chintan']

map(function,iterable)
- function: The function we want to apply to every element of the iterable.
- iterable: The iterable whose elements we want to process.

strip() 
- to remove extra space 

[:n] 
- to take first n input

In [14]:
n = int(input())
l = list(map(int,input().strip().split()))[:n]
y = int(input())
print(l)
print(n,y,sep=" - ")

[1, 2, 3, 4, 5]
5 - 5

In [15]:
import math
print(l)
def x(b) : return int(b*b)
l = list(map(x,l))
print(l)
ll = list(map(lambda y : int(math.sqrt(y)),l))
print(ll)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]
[1, 2, 3, 4, 5]

In [ ]:

s1 = ['chintan', 'sindhav']
s2 = ['ruturaj           ', 'sindhav']
s3 = list(map(str.upper, s1))
print(s3)
s4 = list(map(str.strip, s2))
print(s4)

['CHINTAN', 'SINDHAV']
['ruturaj', 'sindhav']

List Comprehension

In [7]:
n = int(input())
l = [input() for _ in range(n)]
print(l)

['r', 'rt', 'r t', 'r', 't']